{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add photo</title>
</head>
{% block content %}
<p>Загрузите фотографию в коллекцию</p>
    {% if request.user == album.photographer  %}
        <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        </form>
    {% else %}
        <p>Вы не можете изменять альбомы других пользователей</p>
    {% endif %}

{% endblock %}
</html>