{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="../listofarticles.css">
</head>

{% block title %}Последние статьи{% endblock %}

{% block content %}


    {% if latest_article_list %}
        <div class = "article-row">
            {% for a in latest_article_list %}
                <div class = "article-row">
                <figure>
                    <img src="{{a.article_image }}"  height="100"/>
                    <a href="{% url 'articles:detail' a.id %}" >{{ a.article_name }}</a>
                </figure>
            {% endfor %}
                </div>


    {% else %}
        <p>Cтатей еще нет</p>
    {% endif %}
{% endblock %}