{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="article_list.css">
</head>

{% block title %}Последние статьи{% endblock %}

{% block content %}
    <h1 align="center">VOK</h1>

    {% if latest_article_list %}
        {% for a in latest_article_list%}

                <img src="{{MEDIA_URL}}{{a.article_image}}" />
                <a href = "#">{{a.article_name}}</a>

        {% endfor %}


    {% else %}
        <p>Cтатей еще нет</p>
    {% endif %}
{% endblock %}